:root {
    --bg-color: aquamarine;
    --footer-color: lightgrey;
}

body {
    background: var(--bg-color);
}

form fieldset {
    box-shadow: 3px 3px 1px 3px rgba(0,0,0,0.4);
    background: white;
    border-radius: 20px;
}

form fieldset legend {
    position: relative;
    left: 1em;
    top: 1em;
}

main {
    margin: 40px;
}

footer {
    background: var(--footer-color);
    margin: 0;
    padding: 1%;
    display: block;
    text-align: center;
}