<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#209CEE">
    <meta name="description" content="Project for university">
    <meta name="keywords" content="HTML, CSS, JS">

    <title>PI Stored</title>
    <link rel="manifest" href="/cholewp1/webapp/manifest/manifest.webmanifest" >
    <link rel="icon" href="/cholewp1/webapp/img/favicon.ico" sizes="32x32" type="image/ico">
    <link rel="stylesheet" href="/cholewp1/webapp/css/main.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>

<div class="container">
    <header id="header" class="pb-2 mt-4 mb-2 d-flex justify-content-center">
        <img src="/cholewp1/webapp/img/logo.png" alt="PI Stored Logo" class="img-responsive center-block">
    </header>


    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
        <a class="navbar-brand" href="#">PI Stored</a>
        {% if username %}
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navb">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navb">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="list"> List </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="add_file"> Add file </a>
                    </li>
                </ul>

                <form method="POST" class="form-inline my-2 my-lg-0" action="/cholewp1/webapp/logout/">
                    <span class="nav-logged-text">Logged as: {{ username }}</span>
                    <button id="logout"
                            name="logout"
                            class="btn btn-outline-light"
                            type="submit">
                        Logout
                    </button>
                </form>
            </div>

        {% endif %}
    </nav>

    <main>

        <div class="jumbotron">

            <h1 class="display-3 d-flex border-bottom justify-content-center">
                {% block page_title %}{% endblock %}
            </h1>

            <div class="lead d-flex justify-content-center">
                {% block content %}{% endblock %}
            </div>

        </div>
    </main>

</div>

<footer class="footer">
    <div class="container">
        <div class="text-center">
            <span class="text-muted"><i>Created by Patryk Cholewa</i></span>
        </div>
    </div>
</footer>

<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://rawgit.com/notifyjs/notifyjs/master/dist/notify.js"></script>

<script src="/cholewp1/webapp/js/layout.js"></script>

{% block scripts %}{% endblock %}

</body>
</html>