{% extends "layout.html" %}
{% block content %}

    <h3 class="text-center">Log in</h3>
    <div id="login-panel-heading"
         class="panel-heading text-center">
    </div>

    <div class="panel-body">
        <div class="login-box auth0-box before">
            <a class="btn btn-primary btn-lg btn-login btn-block" href="oauth">
                <p>Log In with OAuth</p>
                <br>
                <img class="oauth-logo" src="https://i.cloudup.com/StzWWrY34s.png" />
            </a>
        </div>
    </div>

    <script src="/cholewp1/webapp/js/login.js"></script>

{% endblock %}