:root {
    --bg-color: aquamarine;
    --side-color: lightsteelblue;
    --hyper-text-color: yellow;
    --hyper-bg-color: darkblue;
    --valid-color: green;
    --invalid-color: firebrick;
}

body {
    background: var(--bg-color);
    font-family: SansSerif, sans-serif;
    padding: 0;
    margin: 0;
}

footer {
    background: var(--side-color);
    margin: 0;
    padding: 1%;
    display: block;
    text-align: center;
}

header {
    background: var(--side-color);
    margin: 0;
    padding: 0;
    display: block;
    text-align: center;
}

header ul{
    margin: 0;
    padding: 0;
    display: block;
}

header ul li{
    display: inline-block;
    border: 1px black solid;
    border-right: none;
    width: 32.8%;
    height: 100%;
}

header ul li a{
    display: block;
    padding: 1%;
    font-size: 23px;
    text-align: center;
    text-decoration-line: none;
    color: var(--hyper-bg-color);
}

header ul li a:hover{
    background: var(--hyper-bg-color);
    color: var(--hyper-text-color);
}

section{
    padding: 2%;
    color: #555555;
}

h1{
    text-align: center;
}

form ul {
    width: auto;
    padding: 40px;
    border: 1px groove black;
    list-style: none;
    background: var(--hyper-text-color);
    border-radius: 40px;
    box-shadow: 0 0 40px 0 rgba(0,0,0,0.7);
}

form ul li {
    display: block;
    width: 400px;
    margin: 5px;
}

form ul li label {
    width: 150px;
    display: inline-block;
}

form ul li input {
    width: 150px;
    display: inline-block;
}

label.sex-input {
    width: auto;
    margin-right: 20px;
}

input.sex-input {
    width: auto;
}

.input-status {
    font-size: 13px;
    display: inline-block;
}

#submit-button {
    width: 310px;
}

figure figcaption{
    text-align: center;
    font-style: italic;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.valid-input {
    color: var(--valid-color);
}

.invalid-input {
    color: var(--invalid-color);
}
